/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Títulos */
.contenedorTitulo {
    text-align: center;
    margin-bottom: 20px;
}

.titulo1, .titulo2, .titulo3 {
    margin: 0;
    font-size: 2em;
    color: #333;
}

/* Nav - Jugadores */
nav {
    margin-bottom: 20px;
}

.Jugadores {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c0baba;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Jugadores span {
    font-size: 1.5em;
    color: #333;
}
.vs{
    margin-right: 15px;
    margin-left: 9px;
    color: #0e0f0e;
}
.x {
    background-color: rgb(255, 255, 255);
    color: rgb(144, 247, 242);
}

.o {background-color: rgb(255, 255, 255);
    color: rgb(237, 130, 221);
}

/* Marcador */
.marcadorContador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
}
.cuadroMarcador{
    background-color: #0e0f0e;
    width: 150px;
    height: 140px;
    border-radius: 20px;
}
.marcador {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #fefcfc;
}

.contador {
    font-size: 2em;
    color: #fffdfd;
    border-radius: 10px;
}
.contadorO{
    margin-top:-40px;
    position: relative;
    margin-right: -250px;
    font-size: 3em;
    color: #ffffff; 
}

/* Casillas del juego */
.contenedorCasillas {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-top: 50px;
}

.casillas {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border: 2px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.casillas:hover {
    background-color: #e1d5d5;
}

/* Resultado */
.resultado {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
}

/* Botón volver a jugar */
.btnVJugar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btnVJugar:hover {
    background-color: #555;
}